/* Global CSS Styling */
@font-face {
  font-family: "Momo Signature";
  src: url(../assets/font/Momo_Signature/MomoSignature-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100dvh;
  color: #4a4a4a;
  background-color: #f8f9fe;
}

.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #f8f9fe;
  z-index: 2500;
}

.header img{
  width: 35px;
  height: 35px;
}

.hamburger{
  display: none;
  font-size: 28px;
  cursor: pointer;
}

#menu{
  display: none;
}

.nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  width: 90dvw;
  max-width: 1470px;
}

.header ul {
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  padding-left: 0;
  text-align: center;
}

.header li {
  list-style: none;
  font-size: medium;
  font-weight: 300;
  width: max-content;
  cursor: pointer;
  text-align: center;
  padding: 0 35px;
}

.header h3 {
  font-size: 30px;
  color: #4c7ceb;
  font-family: "Momo Signature", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.header li a:hover {
  color: #4c7ceb;
  transition: 0.1s ease-in-out;
}

.header ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

.sign-up-in {
  gap: 15px;
  display: flex;
}

.sign-up-in a {
  padding: 13px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #f8f9fe;
  background-color: black;
}

.sign-up-in a:hover {
  color: #4c7ceb;
  background-color: rgba(0, 0, 0, 0.819);
}

.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  border-top: 1px solid #4a4a4a4d;
}
.footer-row-1 {
  width: 90%;
  max-width: 1470px;
  display: flex;
  justify-self: center;
}

.footer-col {
  margin-right: 50px;
}

.footer-col {
  list-style: none;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-col h3 {
  color: #4c7ceb;
  font-family: "Momo Signature";
}

.footer a {
  text-decoration: none;
  color: #4a4a4a;
  line-height: 4vh;
  width: max-content;
  height: max-content;
}

.footer a:hover {
  color: #4c7ceb;
}

.footer-row-2 {
  align-items: normal;
  width: 90%;
  max-width: 1470px;
  display: flex;
  justify-self: center;
  border-top: #4a4a4a4d 1px solid;
  padding: 20px 0;
  margin-top: 10px;
  font-size: small;
}

/* Bagian home & food log // Rifat */
.main-1-home {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #e5e6eb 0%, #4c7ceb 100%, #6a9edc 0%);
}

.main-1-home-content {
  width: 90%;
  grid-template-columns: 2fr 1fr;
  display: grid;
  padding: 80px 0;
  max-width: 1470px;
}

.main-1-home-content h2 {
  font-size: 5vh;
  color: #f8f9fe;
  line-height: 20px;
}

.main-1-home-content p {
  color: #f8f9fe;
  margin-bottom: 40px;
}

.main-1-home-content a {
  padding: 15px;
  background-color: #4c7ceb;
  border-radius: 10px;
  color: #f8f9fe;
  margin-right: 13px;
  cursor: pointer;
}

.main-1-home-content a:hover {
  background-color: #4c7cebc3;
}

.content-home-1 {
  width: 60%;
  padding: 0;
}

.content-home-1 span {
  font-family: "Momo Signature";
}

.content-2-home-1 {
  width: 40%;
  padding: 0;
  background: url(../assets/assets-home-foodlog/main-1-content.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  padding: 0;
  margin: 0;
  height: 300px;
  width: 100%;
  animation: float 3s ease-in-out infinite;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.content-2-home-1:hover {
  box-shadow: rgba(0, 0, 0, 100);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.main-2-home {
  width: 100%;
  padding: 80px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 4px;
  background-color: #e5e6eb;
}

.main-2-home span {
  color: #4c7ceb;
  font-family: "Momo Signature";
}

.main-2-home h2 {
  font-size: 4.1vh;
}

.main-2-home p {
  font-size: small;
}

.card-main-2 {
  padding: 10px;
  border-radius: 15px;
  height: 1fr;
  width: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
}

.card-main-2 img {
  width: 50px;
  height: 50px;
}

.main-2-content-1 {
  display: grid;
  margin-top: 45px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  max-width: 1470px;
  gap: 15px;
}

.main-2-content-1 .card-main-2:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.main-2-content-1 .card-main-2:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.main-2-content-1 .card-main-2:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.main-2-content-1 .card-main-2:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}

.main-2-content-1 .card-main-2:nth-child(5) {
  grid-row: 2;
  grid-column: 2;
}

.main-2-home .main-2-content-1 .card-main-2:nth-child(6) {
  grid-row: 2;
  grid-column: 3;
}

.main-3-home {
  width: 100%;
  height: max-content;
  background-color: #f8f9fe;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.main-3-content {
  width: 90%;
  max-width: 1470px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.card-main-3 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1fr;
  height: 1fr;
  border-radius: 15px;
  padding: 0;
}

.card-main-3 img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.card-main-3 p {
  margin: 0;
  width: 80%;
}

.main-4-home {
  width: 100%;
  background-color: #e5e6eb;
  padding: 80px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-4-content {
  width: 90%;
  max-width: 1470px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.card-main-4 {
  width: 1fr;
  /* height: 1fr; */
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  background-color: #f8f9fe;
  cursor: pointer;
}

.card-main-4 p {
  width: 100%;
}

.isi-card-4 {
  justify-content: left;
  align-items: start;
  text-align: left;
  width: 100%;
  margin-top: 30px;
}

.isi-card-4 img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  background: url(../assets/assets-home-foodlog/assets-home/oda.png);
  background-size: cover;
  border-radius: 50%;
}

.isi-card-4 span {
  color: #4c7ceb;
  font-weight: bold;
}

.isi-card-4 p {
  margin: 0;
}

.main-5-home {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.main-5-content {
  width: 90%;
  max-width: 1470px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.card-main-5 {
  width: 25%;
  padding: 20px;
  background: url(../assets/assets-home-foodlog/assets-home/quinoa.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: #e5e6eb;
  border-radius: 10px;
  cursor: pointer;
}

.card-main-5:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.card-main-5 span {
  color: rgba(87, 255, 152, 0.8);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
}
.card-main-5 span p {
  background: rgba(104, 194, 88, 0.4);
  padding: 10px;
  border-radius: 40px;
}

.main-6-home {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: #4c7ceb;
  background: linear-gradient(90deg, #6a9edc 0%, #4c7ceb 100%, #4a4a4a 0%);
  padding: 90px 0;
  flex-direction: column;
  color: black;
}

.main-6-home button {
  border-radius: 15px;
  padding: 17px 40px;
  margin-top: 10px;
  background-color: black;
  color: #f8f9fe;
  border: none;
  cursor: pointer;
}

.main-6-home button:hover {
  background-color: rgb(0, 0, 0);
  color: #4c7ceb;
}

@media (min-width: 800px) and (max-width: 1180px) {
  .nav {
    padding: 0px;
  }

  .header ul {
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    padding-left: 0;
    text-align: center;
  }

  .header li {
    list-style: none;
    font-size: small;
    font-weight: 300;
    width: max-content;
    cursor: pointer;
    text-align: center;
    padding: 0 30px;
  }

  .header h3 {
    font-size: 20px;
    color: #4c7ceb;
    font-family: "Momo Signature", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .sign-up-in {
    gap: 10px;
    display: flex;
  }

  .sign-up-in a {
    padding: 10px 13px;
    font-size: small;
    border-radius: 8px;
    cursor: pointer;
    color: #f8f9fe;
    background-color: black;
  }
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 1100;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 124, 235, 0.97); /* biru transparan */
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  z-index: 1000;
}

.menu-overlay .close {
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

#menu:checked ~ .menu-overlay {
  display: flex;
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-overlay ul li {
  margin: 15px 0;
}

.menu-overlay ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

@media (min-width: 100px) and (max-width: 970px) {

  body {
    height: auto;
    overflow-x: hidden;
    background-color: #f8f9fe;
  }

  .container {
    width: 100%;
    padding: 0;
    background-color: #f8f9fe;
  }

  .nav {
    width: 90%;
    justify-content: space-between;
  }

  .nav img{
    display: none;
  }

  .nav ul li{
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 32px;
    cursor: pointer;
    z-index: 1000;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sign-up-in {
    display: none;
  }

  #menu:checked ~ .menu-overlay {
    display: flex;
  }

  .menu-overlay {
    background-color: white;
    flex-direction: column;
    z-index: 1500;
  }

  .menu-overlay .close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 32px;
    cursor: pointer;
    color: #4c7ceb;
  }

  .menu-overlay ul {
    list-style: none;
    padding: 0;
    margin-top: 80px;
  }

  .menu-overlay ul li {
    margin: 0;
    display: flex;
    text-align: left;
    width: 100%;
  }

  .menu-overlay ul li a {
    text-decoration: none;
    font-size: 22px;
    padding: 30px;
    background-color: white;
    color: #4c7ceb;
    width: 100%;
  }

  .menu-overlay ul li a:hover {
    color: #fff;
    background-color: #4c7ceb;
  }

  .main-1-home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
  }

  .content-home-1 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .content-home-1 h2 {
    font-size: 28px;
    line-height: 50px;
  }

  .content-home-1 h2:nth-child(2){
    margin-top: -40px;
  }

  .content-home-1 span{
    justify-content: center;
    font-size: larger;
    display: flex;
  }

  .content-home-1 p {
    font-size: 15px;
    margin: 20px 0;
    width: 200px;
  }

  .content-home-1 a {
    margin: 8px;
  }

  .content-2-home-1 {
    width: 100%;
    height: 250px;
    margin-top: 30px;
    background-size: cover;
    border-radius: 10px;
    animation: none;
    display: none;
  }

  .main-2-home{
    width: 100%;
    text-align: center;
  }

  .main-2-home p{
    line-height: 20px;
    font-size: small;
  }

  .main-2-content-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-main-2 {
    width: 90%;
  }

  .main-3-home{
    width: 100%;
    text-align: center;
  }

  .main-3-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-3-home h2{
    font-size: larger;
  }

  .main-3-home p{
    font-size: small;
  }

  .card-main-3 {
    width: 90%;
  }

  .main-4-home{
    text-align: center;
  }
  .main-4-home h1{
    font-size: larger;
  }
  .main-4-home p{
    font-size: small;
  }

  .main-4-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card-main-4 {
    width: 90%;
  }

  .main-5-home{
    text-align: center;
  }

  .main-5-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .card-main-5 {
    width: 90%;
  }

  .main-6-home h1 {
    font-size: 26px;
  }

  .main-6-home p {
    font-size: 15px;
  }

  .main-6-home button {
    padding: 14px 30px;
    font-size: 15px;
  }

  .footer {
    width: 100%;
  }

  .footer-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    width: 90%;
  }

  .footer-col {
    width: 100%;
    margin-right: 0;
  }

  .footer-col h4,
  .footer-col h3 {
    margin-bottom: 10px;
  }

  .footer-row-2 {
    text-align: center;
    justify-content: center;
  }
}
/* Bagian home & food log // Rifat */
